* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #iframe {
    height: 500px;
    width: 100%;
    border: none;
  }

  #footer {
    background: url('../image/footer_bg.png') no-repeat center center;
    background-size: cover;
    padding: 40px;
  }
  
  #footer li,
  #Link {
    list-style: none;
    color: #000;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    font-family: "Kanit", sans-serif;
    transition: all 0.1s ease;
  }
  
  #footer li:hover,
  #Link:hover {
    color: #fa5e07;
    font-size: 17px;
    transform: scale(1.01);
  }
  
  #footer h4 {
    font-size: 25px;
    font-weight: 600;
    color: #fa5e07;
    font-family: "Kanit", sans-serif;
    margin-bottom: 15px;
  }
  
  #footer p {
    color: #000;
    font-size: 16px;
    font-family: "Kanit", sans-serif;
  }
  
  #footer .social {
    font-size: 18px;
  }
  
  #footer .social a {
    color: #fa5e07;
    text-decoration: none;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-right: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 0.3s;
  }
  
  #footer .social a:hover {
    border: 2px solid #fa5e07;
  }
  
  /* Responsive Layout */
  @media (max-width: 768px) {
    #footer {
      padding: 20px;
    }
  
    #footer h4 {
      font-size: 20px;
      margin-top: 20px;
    }
  
    #footer p {
      font-size: 14px;
    }
  
    #footer .social a {
      padding: 8px;
      font-size: 16px;
    }
  }
  
  @media (max-width: 480px) {
    #footer {
      padding: 15px;
    }
  
    #footer h4 {
      font-size: 18px;
      margin-top: 15px;
    }
  
    #footer p {
      font-size: 15px;
    }
  
    #footer .social a {
      padding: 6px;
      font-size: 14px;
    }
  }